a:focus {outline:none;
}
.container {
    max-width: 100%;
    margin-left: 30px;
    margin-right: 20px;
}
.row-block {
    padding-left: 3em;
}
table{min-height:85px;}
td{min-height:26px;
line-height:26px;}
/* Form Progress */
.progress {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 70px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
 border: none;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 14px;
  line-height: 30px;
  margin-left: -5px;
   font-weight: bold;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}

.progress .bar.done
{
  background: rgb(14, 191, 134);
   border: 1px solid rgb(14, 191, 134);
}

.progress .bar.active {
  background: linear-gradient(to right, rgb(14, 191, 134) 40%, rgb(14, 191, 134) 60%);

}
.progress .circle.done .label {
  color: #FFF;
  background: rgb(14, 191, 134);
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
   font-size: 14.5px;
    font-weight: bold;
}
.progress .circle.active .label {
  color: #FFF;
  background: #F57224;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #dde2e4;
}

#color_change i {
   color:#F57224;
   font-size:14px;

   
}
#color_change span {
 
   visibility : hidden;
   
}
#color_change:hover span {
	visibility: visible;
}

#color_change:hover i {
	visibility: visible;
   color:#183546;
    font-size:18px;
   background-color:#F57224;
   width:200px;
   padding-left:5px;
   padding-top:3px;
   border-radius:3px;
   height : 25px;
   
}
a:-webkit-any-link {

    text-decoration: none;
    cursor: auto;
}

.sell-with-us-nav .navigation__subitem {
    border-top: 1px #f3f3f3;
}

a:hover {
    color: #F57224;
}
a{color: #199cb7; }

#popup_space{
	margin-bottom:18px;
}



